<div class="row">
    <div class="col-md-4">
        <div class="sticky-top h-100">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Категория</h3>
                </div>
                <div class="card-body">
                    <div class="btn-group w-100 mb-2">
                        <ul class="fc-color-picker" id="color-chooser">
                            <li><a class="text-red" href="#" data-toggle="tooltip" data-placement="top" title="Выбрать"><i class="fas fa-square"></i></a></li>
                            <li><a class="text-orange" href="#" data-toggle="tooltip" data-placement="top" title="Выбрать"><i class="fas fa-square"></i></a></li>
                            <li><a class="text-yellow" href="#" data-toggle="tooltip" data-placement="top" title="Выбрать"><i class="fas fa-square"></i></a></li>
                            <li><a class="text-green" href="#" data-toggle="tooltip" data-placement="top" title="Выбрать"><i class="fas fa-square"></i></a></li>
                            <li><a class="text-blue" href="#" data-toggle="tooltip" data-placement="top" title="Выбрать"><i class="fas fa-square"></i></a></li>
                        </ul>
                    </div>
                    <!-- /btn-group -->
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-primary btn-editor-add-color" data-toggle="tooltip" data-placement="bottom" title="Добавить">Цвет</button>
                        </div>
                        <input id="new-event" type="text" class="form-control editor-control" placeholder="Название" required>
                        <span class="warning-feedback">Укажите название</span>
                        <!-- /btn-group -->
                    </div>
                    <!-- /input-group -->
                    <!-- Buttons -->
                    <div class="row">
                        <div class="col-md-12 editor-group-buttons">
                            <a href="" class="btn-editor-cancel btn_1 btn-danger">Отмена</a>
                            <button type="button" class="btn-editor-save btn_1 btn-success float-right">Создать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>