<div class="row pt-40">
    <div class="col-sm-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Операции</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="QA_section">
                    <div class="QA_table">
                        <table id="table-main" class="table lms_table_active3 dataTable no-footer" role="grid" aria-describedby="dataTable">
                            <thead>
                            <tr>
                                <th style="width: 100px">№ операции</th>
                                <th style="width: 100px">Тип</th>
                                <th>Категория</th>
                                <th style="width: 100px">Сумма</th>
                                <th style="width: 100px">Дата</th>
                                <th>Комментарий</th>
                                <th style="width: 100px">Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>