<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="javascript:void(0);" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto align-items-center">
            <li class="nav-item">
                <input type="checkbox" id="dashboard-theme-checkbox" checked data-bootstrap-switch data-off-color="dark" data-on-color="dark" data-size="small">
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="javascript:void(0);" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
        </ul>
    </nav>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar elevation-4">
        <!-- Brand Logo -->
        <a href="javascript:void(0);" class="brand-link">
            <img src="/images/Logo.png" alt="ogo" loading="lazy">
        </a>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" id="dashboard-treeview" data-widget="treeview" role="menu"
                    data-accordion="false">

                    <li class="nav-item">
                        <a href="/" class="nav-link" data-node-type="dashboard-link" data-node-name="главная">
                            <i class="nav-icon fas fa-home-alt"></i>
                            <p>
                                Главная
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/common" class="nav-link" data-node-type="dashboard-link" data-node-name="доходы & расходы">
                            <i class="nav-icon fas fa-money-bill-1-wave"></i>
                            <p>Доходы & Расходы</p>
                        </a>
                    </li>
                    <!--  Treeview -->
                    <li class="nav-item has-treeview">
                        <a href="javascript:void(0);" class="nav-link" data-node-type="dashboard-link"
                           data-node-name="categories">
                            <p>
                                Категории
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <!-- Treeview Menu -->
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/category/income" class="nav-link" data-node-type="dashboard-link" data-node-name="доходы">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Доходы</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/category/expense" class="nav-link" data-node-type="dashboard-link" data-node-name="расходы">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Расходы</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <nav class="nav-balance">
                <div class="user-panel balance py-3 nav-sidebar nav-pills">
                    <div class="nav-item">
                        <a href="javascript:void(0);" class="nav-link" data-toggle="modal" data-target="#modal-primary">
                            <p class="balance-title">Баланс: <span class="balance-info">100$</span></p>
                        </a>
                    </div>
                </div>
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel bottom no-overflow d-flex">
                    <div class="image admin-user-img">
                        <img src="" class="img-circle elevation-2" alt="User Image" loading="lazy">
                        <i class="nav-icon fas fa-user-circle"></i>
                    </div>
                    <div class="info">
                        <button type="button" class="btn dropdown-toggle dashboard-user-name" data-toggle="dropdown">User Name</button>
                        <div class="dropdown-menu dropdown-menu-left" role="menu">
                            <a href="/logout" class="dropdown-item">Выйти</a>
                            <a class="dropdown-divider"></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- /.sidebar -->
    </aside>
    <!-- Main Content-->
    <div class="content-wrapper page-shadow">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 content-header-title text-capitalize"></h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!--Buttons-->
                <div class="dashboard-button-group-wrapper"></div>
                <!--Filter-->
                <div class="btn-toolbar main-filter"></div>
                <!-- Template -->
                <div class="main-content-wrapper"></div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer class="main-footer flex-row-container">
        <strong>Все права защищены &copy; 2025 <a href="https://adminlte.io">Mad Jun Lumincoin Studio</a>.</strong>
    </footer>
    <!--Modals-->
    <div class="modal fade" id="modal-primary" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-primary">
                <div class="modal-header">
                    <h4 class="modal-title">Внесение депозита</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <!-- Form -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-container">
                                    <form id="form-deposit" class="was-validated" novalidate>
                                        <div class="form-group">
                                            <label for="form-input-name">Имя владельца карты</label>
                                            <input type="text" class="form-control" id="form-input-name" name="name" placeholder="Card Holder Name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="form-input-tel">Номер карты</label>
                                            <input type="tel" id="form-input-tel" name="tel" class="form-control" placeholder="1234567891234567" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="form-input-month">Дата истечения</label>
                                            <input type="month" id="form-input-month" name="month" class="form-control" placeholder="Month" required>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="form-input-cvc">CVC</label>
                                                    <input type="text" class="form-control" id="form-input-cvc" name="number" minlength="3" maxlength="3" placeholder="..." required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="form-input-amount">Сумма</label>
                                            <input type="text" class="form-control" id="form-input-amount" name="float-number" minlength="4" placeholder="min 1000$" required>
                                        </div>
                                        <button type="submit" class="btn btn-outline-light">Внести</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modal-warning" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-warning">
                <div class="modal-header">
                    <h4 class="modal-title">Подтверждение операции</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>При удалении категории все данные будут утеряны&hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Отмена</button>
                    <button id="warning-dialog-button-delete" type="button" class="btn btn-outline-dark" data-dismiss="modal">Удалить</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="back-top">
        <a title="Go to Top" href="#">
            <i class="ti-angle-up"></i>
        </a>
    </div>
</div>