@import "../framework/css/framework.css";
@import "../framework/css/framework.addon.css";

:root {
    --c-duration: 294ms;
    --c-color-primary: #052c65;
}

body {
    font-family: "Roboto", sans-serif;
}
a,
button {
    transition-duration: var(--c-duration);
    transition-property: background-color, border-color, color;
    transition-timing-function: ease-out;
}
.flex-row-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-page, .register-page {
    background-color: #fff;
    height: 100vh;
}
.login-box, .register-box {
    width: 24.813rem;
}
.login-logo-box, .register-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.75rem;
}
.login-box-title h2, .register-box-title h2 {
    font-size: 2.5rem;
    line-height: 2.938rem;
    color: var(--c-color-primary);
}
.account-box {
    gap: 10px;
}
.form-row {
    margin-top: 0.75rem;
}
label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 400;
}
.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label, .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label::after, .input-group:not(.has-validation) > .custom-select:not(:last-child), .input-group:not(.has-validation) > .form-control:not(:last-child) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

[class*="icheck-"] > input:first-child + input[type="hidden"] + label::before, [class*="icheck-"] > input:first-child + label::before {
    border-radius: 0.25rem;
}

.custom-select.is-valid, .was-validated .custom-select:valid {
    border-color: #28a745;
    padding-right: calc(0.75em + 2.313rem) !important;
    background: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%274%27 height=%275%27 viewBox=%270 0 4 5%27%3e%3cpath fill=%27%23343a40%27 d=%27M2 0L0 2h4zm0 5L0 3h4z%27/%3e%3c/svg%3e") right .75rem center/8px 10px no-repeat,#fff url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%278%27 height=%278%27 viewBox=%270 0 8 8%27%3e%3cpath fill=%27%2328a745%27 d=%27M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z%27/%3e%3c/svg%3e") center right 1.75rem/calc(3rem) calc(.75em + .375rem) no-repeat;
}

.main-sidebar, .main-sidebar::before {
    transition: margin-left .3s ease-in-out,width .3s ease-in-out;
    width: 220px;
}

.layout-fixed .brand-link {
    width: 220px;
}
.nav-balance {
    padding-bottom: 100px;
}
[class*="sidebar-"] .user-panel.bottom {
    border-bottom: none !important;
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
}
[class*="sidebar-"] .user-panel.balance {

}
.balance-info {
    color: #0d6efd;
}
[class*="sidebar-light-"] .nav-sidebar > .nav-item:hover > .nav-link .balance-title .balance-info {
    color: #fff;
}
[class*="sidebar-dark"] .user-panel.bottom .image.admin-user-img i {
    color: #fff;
}
[class*="sidebar-dark"] .user-panel.bottom .info .btn {
    color: #fff;
}
.dropdown-item:focus, [class*="sidebar-dark-"] .user-panel .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}
.navbar-gray-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}

.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
    width: calc(220px - .5rem);
    transition: width ease-in-out .3s;
}
.nav-item.menu-open > .nav-link, [class*="sidebar-light-"] .nav-sidebar > .nav-item > .nav-link,
[class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link {
    transition-duration: var(--c-duration);
    transition-property: background-color, border-color, color;
    transition-timing-function: ease-out;
}

[class*="sidebar-light-"] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*="sidebar-light-"] .nav-sidebar > .nav-item:hover > .nav-link {
    background-color: #0d6efd;
    color: #fff;
}
[class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link.active, [class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link.active:hover {
    background-color: #0d6efd;
    color: #fff;
}
[class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link:hover {
    background-color: #0d6efd;
    color: #fff;
}
[class*="sidebar-light-"] .nav-sidebar > .nav-item.item-muted {
    pointer-events: none;
}
.user-panel.bottom .info {
    padding: 0;
}
.user-panel.bottom .info .btn {
    font-size: 14px;
    color: var(--c-color-primary);
}
.dropdown-item:focus, [class*="sidebar-light-"] .user-panel .dropdown-item:hover {
    background-color:#0d6efd;
    color: #fff;
}
.footer-dark {
    background-color: #343a40;
    color: #fff7f8;
}
.brand-link {
    display: flex;
    justify-content: center;
    transition-duration: var(--c-duration);
    transition-property: background-color, border-color, color;
    transition-timing-function: ease-out;
    padding: 40px 8px 20px;
}
.brand-link img {
    width: 98px;
    height: 40px;
}
.image.admin-user-img {
    display: flex;
    align-items: center;
}
.admin-user-img > img {
    display: none;
}
.admin-user-img.avatar > img {
    display: block;
}
.admin-user-img .nav-icon {
    display: inline-block;
    color: black;
    font-size: 2rem;
    text-align: center;
    margin-right: 0.2rem;
}
.admin-user-img.avatar .nav-icon {
    display: none;
}
.sidebar {
    padding: 0;
}
.content-header-title {
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--c-color-primary);
}
.no-overflow {
    overflow: visible !important;
}
.content-wrapper {
    background-color: #fff;
}
.content-header {
    margin-top: 1.5rem;
}
.main-filter {
    gap: 1.25rem;
}
[class*="main-filter"] .btn {
    width: 6.25rem;
}
.main-charts {
    padding-top: 4.375rem;
}
input[name="remember"] ~ .form-check-label {
    color: inherit !important;
}
.sidebar-collapse.sidebar-mini .main-sidebar.sidebar-focused:not(.sidebar-no-expand) .nav-link, .sidebar-collapse.sidebar-mini .main-sidebar:hover:not(.sidebar-no-expand) .nav-link, .sidebar-collapse.sidebar-mini-md .main-sidebar.sidebar-focused:not(.sidebar-no-expand) .nav-link, .sidebar-collapse.sidebar-mini-md .main-sidebar:hover:not(.sidebar-no-expand) .nav-link, .sidebar-collapse.sidebar-mini-xs .main-sidebar.sidebar-focused:not(.sidebar-no-expand) .nav-link, .sidebar-collapse.sidebar-mini-xs .main-sidebar:hover:not(.sidebar-no-expand) .nav-link {
    width: calc(220px - 0.5rem);
}

.dashboard-button-group-wrapper.btn-toolbar .btn_1 {
    width: 9rem;
}

.table-tools i {
    font-size: 1rem;
    color: #0b2e13;
}
.table-tools a:hover i, .table-tools .btn:hover i {
    color: #d33333;
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before {
    top: auto !important;
}
.small-box {
    min-height: 8.25rem;
}
#small-box-add {
        background-color: rgba(0, 0, 0, 0.1);
        position: relative;
        text-decoration: none;
        z-index: 10;
}
#small-box-add.small-box.success-outline .icon > i, .small-box.success-outline .icon > i.fa {
    color: rgba(40, 167, 69, 0.8);
}
#small-box-add.small-box.danger-outline .icon > i, .small-box.success-outline .icon > i.fa {
    color: rgba(220, 53, 69, 0.8);
}
.small-box-group-button {
    display: flex;
    justify-content: space-between;
}